*{
scroll-behavior: smooth;
}

.carousel01{
    margin-top: 80px;
}

.card-badge{
    position: relative;
}

.new-badge{
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 2px 7px 2px 7px;
    background-color: red;
    color: white;
    border-radius: 4px;

}

.cart-box{
    position: relative;
}
.cart-badge{
    position: absolute;
    right: 5px;
    top: -5px;
   width: 15px;
   height: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
    background-color: red;
    color: white;
    border-radius: 50%;


}